# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# My
*.json
*.txt
*.html
bin/skareader


# autotools
/aclocal.m4
/autom4te.cache/
/config.h
/config.h.in
/config.log
/config.status
/compile
/depcomp
/install-sh
/missing
/ltmain.sh
/stamp-h1
configure
.deps
.dirstamp

# Makefile junk
Makefile
Makefile.in
/src/Makefile
/src/Makefile.in

# executables
install/*
